<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Nuria Puig Awards</title>

</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Nuria Puig</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./index.html"><i class="fas fa-home"></i> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./biography.html">Biography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./experience.html">Experience</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Languages
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./pr.languages.html">Programing Languages</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="./languages.html">Human Languages</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="./skills.html">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./education.html">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./awards.html">Honors and awards</a>
          </li>           
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Proyectos actuales
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./berni.html">Berni Sweets</a>
              <a class="dropdown-item" href="#" >Peru</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Trainin during COVID-19</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
</header>
    <h1 class="container">Awards</h1>
        <div class="container">
            <h2>3rd place Socatel Hackathon </h2>
            <div class="card">
              <div class="card-body">
                <blockquote class="blockquote text-right">
                  <p class="mb-0">The SOCATEL project proposes an approach that will cater to the needs of the growing ageing populations in Europe by improving the accessibility, 
                    responsiveness, efficiency, transparency and transferability of social and care services.</p>
                  <footer class="blockquote-footer"><cite title="Source Title">Extract from the <a href="https://www.socatel.eu/" 
                    alt="Direcction to Socatel webpage">Socatel</a> web page </cite></footer>
                </blockquote>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <p>My team mates and I enjoying working together during the 24 hours that we worked together. It was a challenging day but rewarding, 
                  as working together but my team was a blast. </p>
                <p>Here am I all black outfit in the center of the picture with my team all focused listening the instructions at the beguining of the Hackathon. It was our first participation to Hackathon's world and we wanted to get all instructions</p>
                <img src="../images/awards/tableWithTeam_Hackathon_Socatel.jpg" alt="In the picture you can see me with my team mates">
                <p>You can see all the team putting together the ideas to start building our project.</p>
                <img src="../images/awards/withTeam_Hackathon_Socatel.jpg" alt="Here the team putting all together the ideas">
                <a href="https://www.socatel.eu/hackathons/" alt="Photos of Socatel Hackathon">Video and graphic resumee of the Hackathon</a>
              </div>
            </div>
          </div>  
          <div class="container">
            <iframe width="1024" height="630" src="https://www.youtube.com/embed/ikclcvsTZis" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
</body>
</html>