<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/biography.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Nuria Puig Biography</title>
    <script src="https://kit.fontawesome.com/7c604236ad.js" crossorigin="anonymous"></script>
    <script>
        function openWin() {
          window.open("https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing","_blank","toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=550");
        }
    </script>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://www.linkedin.com/in/nuria-puig-riera/" target="_blank">Nuria Puig</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="../index.html"><i class="fas fa-home"></i> <span class="sr-only"> (current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./biography.html">Biography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./timeline_experience.html">Experience</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Languages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./pr.languages.html">Programing Languages</a>
            <a class="dropdown-item" href="./languages.html">Human Languages</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./skills.html">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./education.html">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./awards.html">Honors and awards</a>
          </li>           
          <li class="nav-item">
            <a class="nav-link" href="./gallery.html">Gallery</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing" target="_blank"><b><strong>my CV</strong></b></a>
          </li> 
      </ul>
    </div>
  </nav>
<header>
    <h1 class="container text-center startImage">Biography</h1>
</header>
<br>
        <div class="container">
          <br>
            <div class="card">
              <div class="card-body">
                <p>I was born in Barcelona, but as a baby I got to travel the world. Professionally, I had the opportunity                  
                to work abroad and relocated twice to Paris. I also worked in Milan and London. I am used to working in an international 
                environement.
                </p>
                <p>After several experiences in the marketing world, I decided to continue my career creating my own business. While creating 
                  my own business I studied different disciplines and as my business grew I evolved from one shop to two and to a
                distribution business. 
                </p>
                <p>Unfortunatelly, afther years of owning my company I had to reinvent myself professionally and my resiliance has been tested, as 
                I had to leave business. When I returned to Barcelona I discovered my new passion. </p>
                <p>One day, late at night I aplied to Google Scholarship, was not sure if I could make it, as I had no experience in programming
                but with will and persistance I got my second scholarship and I realized how much I loved programming.
                <p>Since that day I decided to push further and further my skills to became a developer. I have 
                been following several trainings that led me to consolidate my knowledge to became a Fullstack Software Developer.</p>
                </p>
                <p>Of course this a journey and I know that I will continue learning by working on projects like this one for instance. 
                  I am passionate about learning and developing the skills that businesses need.
                </p>
                <br>
                <h4>Regards, Núria</h4>
                <br>
              </div>
            </div>
            <br>
            <br>
            
          <hr>

          <br>
          <br>
          <div class="card">
            <div class="row car">
              <div class="col-md-12">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w=100" src="../images/biography/galery/code_mantra.jpg">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w=100" src="../images/biography/galery/dog.jpg">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w=100" src="../images/biography/galery/gitlab.jpg">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w=100 badge" src="../images/udacity/ab.badge.png">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w=100 badge" src="../images/biography/b.badge.jpg">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                  </a>
                </div>
              </div>
              <div class="col-md-6">

              </div>
            </div>
            </div>
            <br>
            <br>
            <footer>
              <div class="container footer">
                <br>
                <br>
                <div class="row">
                  <br>
                  <br>
                  <i class="far fa-envelope">&nbsp; &nbsp; cotoflux@gmail.com</i>
                  <br>
                  <br>
                  <i class="fas fa-phone">&nbsp; &nbsp; + 34 - 637316705</i>
                  <br>
                </div>
                <div class="row">
                  <form>
                    <input class="button" type="button" value="Click to see my CV" onclick="openWin()">
                  </form>
                </div>
                <br>
                <br>
              </div>
            </footer>
              <br>
              <br>
</body>
</html>