<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../styles/gallery.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <title>Nuria Puig - Digital Marketing</title>
        <script src="https://kit.fontawesome.com/7c604236ad.js" crossorigin="anonymous"></script>
        <style>
            .center{
                justify-content: center;
                text-align: center;

            }
             
            i{
                color:chocolate
            }

        </style>
    </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.linkedin.com/in/nuria-puig-riera/" target="_blank">Nuria Puig</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="./index.html"><i class="fas fa-home"></i><span class="sr-only"> (current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./views/biography.html">Biography</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./views/timeline_experience.html">Experience</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Development
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="./views/pr.languages.html">Programing Languages</a>
                <a class="dropdown-item" href="./views/languages.html">Human Languages</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Digital Marketing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./cotoflux.github.io/views/skills.html">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./views/education.html">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./views/awards.html">Honors and awards</a>
              </li>           
              <li class="nav-item">
                <a class="nav-link" href="./views/gallery.html">Gallery</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing" target="_blank"><b><strong>my CV</strong></b></a>
              </li> 
          </ul>
        </div>
      </nav>
      <header>
        <h1 class="container text-center startImage">Digital Marketing</h1>
      </header>
      <main>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">

                <div class="row">
                    <div class="define col-md-4">
                        <i class="far fa-lightbulb 3x"></i>
                        <h5>DEFINE</h5>
                        <p> Let’s analyze your project and build a tailored digital strategy.</p>
                    </div>
                    <div class="design col-md-4">
                        <i class="fas fa-pencil-ruler 3x "></i>
                        <h5>DESIGN</h5>
                        <p>Together we will design your Online Marketing Plan tailored to you 
                        business needs.
                        </p>
                    </div>
                </div>  
                <div class="row">
                    <div class="setup col-md-4">
                        <i class="far fa-check-circle 3x"></i>
                        <h5>SETUP</h5>
                        <p>I take care of the setup of accounts and configurations to
                        make everything possible.
                        </p>
                    </div>
                    <div class="monitor col-md-4">
                        <i class="fas fa-laptop-code 3x"></i>
                        <h5>MONITOR</h5>
                        <p>I will follow up every action  in real time  with the 
                        online reportings on the agreed KPI's to be sure of making your 
                        goals.
                        </p>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <br>
                <h3>Digital Marketing Consulting</h3>
                <br>
                <div class="card" style="width: 20rem;">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Digital Strategy</li>
                    <li class="list-group-item">Local SEO & Google My Business</li>
                    <li class="list-group-item">Web Design & Landing Pages</li>
                    <li class="list-group-item">Seo</li>
                    </ul>
                </div>
            </div>
            <div class="col col-md-4">
                <br>
                <h3>Online Advertising</h3>
                <br>
                <div class="card" style="width: 20rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Online Advertising SEM, PPC</li>
                        <li class="list-group-item">Google Ads</li>
                        <li class="list-group-item">Facebook Ads</li>
                    </ul>
                </div>
            </div>
        </div>

      </main>
      <br>
      <br>
      <footer>
        <div class="container footer">
          <br>
          <br>
          <div class="row">
            <br>
            <br>
            <i class="far fa-envelope">&nbsp; &nbsp; cotoflux@gmail.com</i>
            <br>
            <br>
            <i class="fas fa-phone">&nbsp; &nbsp; + 34 - 637316705</i>
            <br>
          </div>
          <div class="row">
            <form>
              <input class="button" type="button" value="Click to see my CV" onclick="openWin()">
            </form>
          </div>
          <br>
          <br>
        </div>
      </footer>
        <br>
        <br>    
</body>
</html>