<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Fredoka+One" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7c604236ad.js" crossorigin="anonymous"></script>
    <title>Document</title>
    

    <style>
body {
  display: grid;
  grid-gap: 1rem;
}

.visual {
  height: 100px;
  width: 100%;
  background: white;
  margin: 0.5rem 0;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #777;
  padding: 1rem;
}
.card:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
body {
  font-family: system-ui, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

     /**Footer*/
     .row{
          flex-direction: row;
          justify-content: center;
      }
      #personal{
        text-align: center;
        font-family: 'Handlee', cursive;
        size: 26px;
      }
      a:hover{
        font-weight: bold;
        
      }

      .border:hover{
        box-shadow: 0 15px 15px rgba(56, 98, 236, 0.25), 0 6px 6px rgba(0,0,0,0.30);

      }

      .titleTestimonials{
        height: 60px;
        background-color: lightgray;
      }

      i{
        padding: 1%;
        font-size: 20px;
      }
      footer{
        background-color: lightgray;
      }

      .button{
        width: 200px;
      }

      .button:hover{
        font-weight: bold;
        font-size: large;
        color: black;
        box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }

      .thumbnail:hover{
        box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }

      header {
        background-image: url("../images/biography/barcelona.jpg");
        color: white;
        padding: 50px 0;
        background-attachment: fixed;
        background-position: center bottom;
      }
      

  </style>
  <script>
      function openWin() {
        window.open("https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing","_blank","toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=550");
      }
  </script>
</head>
<body>
  
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Nuria Puig</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../index.html"><i class="fas fa-home"></i> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./biography.html">Biography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./timeline_experience.html">Experience</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Languages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="./pr.languages.html">Programing Languages</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="./languages.html">Human Languages</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./skills.html">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./education.html">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./awards.html">Honors and awards</a>
        </li>          
        <li class="nav-item">
          <a class="nav-link" href="./gallery.html">Gallery</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing"><b><strong>my CV</strong></b></a>
        </li> 
      </ul>
    </div>
  </nav>
<header>
    <h1 class="container text-center startImage">Education</h1>
</header>
<main>

  <hr>
  <div class="container">
    <h3>Computer Science Education</h3>
    <br>
    <div class="card-deck">
    <div class="row justify-content-center">
      <div class="card col-md-3 justify-content-center text-center">
        <h1>IT Academy - Barcelona Activa</h1>
        <p>I did two courses one of OOP wit JavaScript and the other one of 4 months of Java and Spring.</p>
        <div class="visual">
            <br>
            <i class="fab fa-html5 fa-2x"></i>
            <i class="fab fa-css3-alt fa-2x"></i>
            <i class="fab fa-bootstrap fa-2x"></i>
            <i class="fab fa-js fa-2x"></i>
            <br>
            <small>Java Backend - OOP with JavaScript</small>
        </div>
        <a href="#" class="btn btn-primary">See my GitHub projects</a>
      </div>
      <br>
      <div class="card col-md-3 justify-content-center text-center">
        <h1>Factoria F5</h1>
        <p>Factoria is a ONG dedicated to develop programs to reduce the social gap in Spanish society. They develop several programming programs directed to different groups in the 
            society.</p>
        <div class="visual">
            <br>
            <i class="fab fa-html5 fa-2x"></i>
            <i class="fab fa-css3-alt fa-2x"></i>
            <i class="fab fa-bootstrap fa-2x"></i>
            <i class="fab fa-js fa-2x"></i>
            <br>
            <small>Java Backend - OOP with JavaScript</small>
        </div>
        <a href="#" class="btn btn-primary">See my GitHub projects</a>
      </div>
      <br>
      <div class="card col-md-3 justify-content-center text-center">
        <h1>CEPIBASE</h1>
        <p> Estudios presenciales organizados de forma en que los estudiantes pueden hacerlo en los horarios disponibles
            tras el trabajo.</p>
        <div class="visual">
            <br>
            <i class="fab fa-html5 fa-2x"></i>
            <i class="fab fa-css3-alt fa-2x"></i>
            <i class="fab fa-bootstrap fa-2x"></i>
            <i class="fab fa-js fa-2x"></i>
            <i class="fab fa-php fa-2x"></i>
            <i class="fab fa-laravel fa-2x"></i>
            <br>
            <small>FullStack Developer          
            </small>
        </div>
          <a href="#" class="btn btn-primary">See my GitHub projects</a>
      </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-center">
      <br>
      <div class="card col-md-3 justify-content-center text-center">
        <h1>Universitat Internacional de Valencia</h1>
        <p>Master universitario enfocado a la ultilización de las herramientas de Adobe Ilustrator.</p>
        <div class="visual">
            <br>
            <i class="fab fa-html5 fa-2x"></i>
            <i class="fab fa-css3-alt fa-2x"></i>
            <br>
            <small>Desarrollador Web</small>
        </div>
        <a href="#" class="btn btn-primary">See my GitHub projects</a>
      </div>
      <br>
      <div class="card col-md-3 justify-content-center text-center">
        <h1>KeepCoding</h1>
        <p>Bootcamp Mobile en Android y Swift + Node.js y base de datos NoSQL.</p>
        <div class="visual">
            <br>
            <i class="fab fa-node fa-2x"></i>
            <i class="fab fa-android fa-2x"></i>
            <i class="fab fa-swift fa-2x"></i>
            <br>
            <small> FullStack Developer</small>
        </div>
        <a href="#" class="btn btn-primary">See my GitHub projects</a>
      </div>
      <br>
      <div class="card col-md-3 justify-content-center text-center">
        <h1>Pue Barcelona</h1>
        <p>I recieved several scholarships from the Consorci of Barcelona.</p>
        <div class="visual">
            <br>
            <i class="fab fa-java fa-2x"></i>
            <i class="fab fa-android fa-2x"></i>
            <br>
            <small> Java Fundamentals - Java Programmer</small>
        </div>
        <a href="#" class="btn btn-primary">See my GitHub projects</a>
      </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-center">
      <br>
      <div class="card col-md-3 justify-content-center text-center">
        <h1>Udacity</h1>
        <p>I recieved several scholarships from Google, Bertelsmann and Amazon.</p>
        <div class="visual">
            <br>
            <i class="fab fa-java fa-2x"></i>
            <i class="fab fa-android fa-2x"></i>
            <i class="fab fa-aws fa-2x"></i>
            <i class="fab fa-python"></i>
            <br>
            <small> Android Basics Nanodegree</small>
          </div>
          <a href="#" class="btn btn-primary">See my GitHub projects</a>
      </div>
        <br>
        <div class="card col-md-3 justify-content-center text-center">
          <h1>Sage</h1>
          <p>This course was entirely on all areas of business and I learned how to implement Sage X3 for my 
            future work in Auren Consulting
          </p>
          <div class="visual">
              <small> Sage X3 Course. </small>
          </div>
        </div>
      </div>
  </div>
</div>

  <div class="container">
    <br>
    <br>
    <h3>Marketing Education</h3>
    <br>
    <div class="card">
      <h1>ESADE - Master in Marketing </h1>
      <p>ESADE is one of the top schools in the world in Business and Marketing at the time 
        I did the course, the school was among the top 10 Universities in the World in Marketing
        programs.
      </p>
    </div>
    <br>
    <div class="card">
      <h1>UOC - Career in Business Administration</h1>
      <p>Universitat Oberta de Catalunya is where I finides my Business studies and 
        I started learning how to work online.
      </p>
    </div>
    <br>
    <div class="card">
      <h1>PACO PUERTO - SEO and SEM best practices</h1>
      <p>I have been doing recent trainings in SEO and SEM to keep my skills updated.
      </p>
    </div>
    <br>
    <div class="card">
      <h1>Google Activate - Marketing, SEO, SEM, Google Analytics</h1>
      <p>I have been doing several courses about Marketing to be able to pass my certifications Android
        keep updated about google search engine policies.
      </p>
    </div>
  </div>
</main>
<br>
<br>
<footer>
  <div class="container footer">
    <br>
    <br>
    <div class="row">
      <br>
      <br>
      <i class="far fa-envelope">&nbsp; &nbsp; cotoflux@gmail.com</i>
      <br>
      <br>
      <i class="fas fa-phone">&nbsp; &nbsp; + 34 - 637316705</i>
      <br>
    </div>
    <div class="row">
      <form>
        <input class="button" type="button" value="Click to see my CV" onclick="openWin()">
      </form>
    </div>
    <br>
    <br>
  </div>
</footer>
  <br>
  <br>
</body>
</html>