<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Nuria Puig Experiencia</title>
    <script src="https://kit.fontawesome.com/7c604236ad.js" crossorigin="anonymous"></script>
    <style>
      .bcontent {
          margin-top: 10px;
      }
      .card:hover {
          box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
  </style>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <!-- <a class="navbar-brand" href="#">Nuria Puig</a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="./index.html"><i class="fas fa-home"></i> <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./biography.html">Biography</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./experience.html">Experience</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Languages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./pr.languages.html">Programing Languages</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./languages.html">Human Languages</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./skills.html">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./education.html">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./awards.html">Honors and awards</a>
              </li>           
              <li class="nav-item">
                <a class="nav-link" href="./galery.html">Gallery</a>
              </li> 
            </ul>
          </div>
        </nav>
</header>
  <div class="container bcontent">
    <h2>Development</h2>
    <hr />
    <div class="card" style="width: 500px;">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <img class="card-img" src="../images/experiencia/development.jpg" alt="">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">Development</h5>
                    <p class="card-text">I have experience developing in HTML, CSS and PHP porfessionally. See the 
                      list of professional experience in this field.
                    </p>
                    <a href="#" onclick="this.innerHTML='Ooops not yet configured!'"class="btn btn-primary">View the list</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bcontent">
  <h2>Marketing</h2>
  <hr />
  <div class="card" style="width: 500px;">
      <div class="row no-gutters">
          <div class="col-sm-5">
              <img class="card-img" src="../images/experiencia/marketing.jpg" alt="">
          </div>
          <div class="col-sm-7">
              <div class="card-body">
                  <h5 class="card-title">Marketing and Digital Marketing experience</h5>
                  <p class="card-text">I started my career working in Marketing in two big companies on the farmaceutical industry. I worked 
                    as Junior Product Manager and doing Marketing Strategies Analysis. Then 10 years ago I started with digital maketing and 
                    community management comunication
                  </p>
                  <a href="#" onclick="this.innerHTML='Ooops not yet configured!'" class="btn btn-primary">View the list</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container bcontent">
  <h2>SelfEmployeed</h2>
  <hr />
  <div class="card" style="width: 500px;">
      <div class="row no-gutters">
          <div class="col-sm-5">
              <img class="card-img" src="../images/experiencia/selfEmployed.jpg" alt="">
          </div>
          <div class="col-sm-7">
              <div class="card-body">
                  <h5 class="card-title">Company Owner</h5>
                  <p class="card-text">As company owner I had mi first shop with an anual gross sales of 100000 euros 
                    per year and lead it two a 460000 in sales company. During this period I learned everything about 
                    pets and get a list of trainings for my self and my 9 employees.
                  </p>
                  <a href="#" onclick="this.innerHTML='Ooops not yet congigured!'" class="btn btn-primary">See the list of activities</a>
              </div>
          </div>
      </div>
  </div>
</div>
  
    

</body>
</html>