<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/gallery.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7c604236ad.js" crossorigin="anonymous"></script>
    <title>Nuria Puig - Gallery</title>
</head>

<script>
    function openWin() {
      window.open("https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing","_blank","toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=550");
    }
</script>
<body>
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://www.linkedin.com/in/nuria-puig-riera/" target="_blank">Nuria Puig</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="../index.html"><i class="fas fa-home"></i> <span class="sr-only"> (current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./biography.html">Biography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./timeline_experience.html">Experience</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Languages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./pr.languages.html">Programing Languages</a>
            <a class="dropdown-item" href="./languages.html">Human Languages</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/digitalMarketing.html">Digital Marketing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./skills.html">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./education.html">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./awards.html">Honors and awards</a>
          </li>           
          <li class="nav-item">
            <a class="nav-link" href="./gallery.html">Gallery</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing" target="_blank"><b><strong>my CV</strong></b></a>
          </li> 
      </ul>
    </div>
  </nav>
<header>
    <h1 class="container text-center startImage">My Gallery</h1>
</header>
<!-- Header -->
<div class="header">
  <br>
  <p id="personal">Here you can visually see with images my 2018 and 2019.</p>
</div>

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="../images/galery/bookComp.jpg" style="width:100%">
    <img src="../images/galery/cotoflux.jpg" style="width:100%">
    <img src="../images/galery/dogGlass.jpg" style="width:100%">
    <img src="../images/galery/freeWork.jpg" style="width:100%">
    <img src="../images/galery/moun.jpg" style="width:100%">
    <img src="../images/galery/travel.jpg" style="width:100%">
    <img src="../images/galery/wordpress.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../images/awards/tableWithTeam_Hackathon_Socatel.jpg" style="width:100%">
    <img src="../images/awards/withTeam_Hackathon_Socatel.jpg" style="width:100%">
    <img src="../images/biography/b.badge.jpg" style="width:100%">
    <img src="../images/biography/barcelona.jpg" style="width:100%">
    <img src="../images/biography/galery/code_mantra.jpg" style="width:100%">
    <img src="../images/biography/galery/dog.jpg" style="width:100%">
    <img src="../images/p_lang/HTML5_logo.svg" style="width:100%">
    <img src="../images/galery/android.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img src="../images/biography/galery/gitlab.jpg" style="width:100%">
    <img src="../images/biography/galery/glassess_comp.jpg" style="width:100%">
    <img src="../images/biography/galery/keyboard.jpg" style="width:100%">
    <img src="../images/biography/galery/mac.jpg" style="width:100%">
    <img src="../images/biography/galery/zeros_ones.jpg" style="width:100%">
    <img src="../images/desk/desk_Index.jpg" style="width:100%">
    <img src="../images/desk/deskIndex.jpg" style="width:100%">
    <img src="../images/galery/creator.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../images/developer.jpg" style="width:100%">
    <img src="../images/experiencia/development.jpg" style="width:100%">
    <img src="../images/free/mountain.jpg" style="width:100%">
    <img src="../images/glasses.jpg" style="width:100%">
    <img src="../images/p_lang/CSS3_logo.svg" style="width:100%">
    <img src="../images/udacity/udacity_accepted.PNG" style="width:100%">
  </div>
</div>
<br>
<br>
<footer>
  <div class="container footer">
    <br>
    <br>
    <div class="row">
      <br>
      <br>
      <i class="far fa-envelope">&nbsp; &nbsp; cotoflux@gmail.com</i>
      <br>
      <br>
      <i class="fas fa-phone">&nbsp; &nbsp; + 34 - 637316705</i>
      <br>
    </div>
    <div class="row">
      <form>
        <input class="button" type="button" value="Click to see my CV" onclick="openWin()">
      </form>
    </div>
    <br>
    <br>
  </div>
</footer>
  <br>
  <br>
</body>
</html>
