<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/programinLang.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://kit.fontawesome.com/7c604236ad.js" crossorigin="anonymous"></script>
    <title>Nuria Puig - Programming Languages</title>


<script>
    function openWin() {
      window.open("https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing","_blank","toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=550");
    }
</script>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://www.linkedin.com/in/nuria-puig-riera/" target="_blank">Nuria Puig</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="../index.html"><i class="fas fa-home"></i> <span class="sr-only"> (current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./biography.html">Biography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./timeline_experience.html">Experience</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Languages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./pr.languages.html">Programing Languages</a>
            <a class="dropdown-item" href="./languages.html">Human Languages</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/digitalMarketing.html">Digital Marketing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./skills.html">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./education.html">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./awards.html">Honors and awards</a>
          </li>           
          <li class="nav-item">
            <a class="nav-link" href="./gallery.html">Gallery</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing" target="_blank"><b><strong>my CV</strong></b></a>
          </li> 
      </ul>
    </div>
  </nav>

  <header>
      <div class="container text-center startImage">
       <h1>Programming Languages </h1>
      </div>
  </header>
  <section id="t-cards">
    <div class="container">
        <div class="row">
             <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="../images/p_lang/HTML5_logo.svg" />
                        
                    </div>
                    <div class="panel-body text-center">
                        <h4 class="panel-header">HTML</h4>
                        <small>If you take a look in my Github you will see many examples of my HTML projects. 
                          I program projects with a clean code and a well structured web to be able to rank in 
                          search engines. 
                        </small>
                    </div>
                    <div class="panel-thumbnails">
                      <div class="column">
                          <div class="col-xs-12 text-center">
                            <a class="btn btn-success btn-labeled" href="https://github.com/cotoflux" target="_blank" role="button">
                              <span class="btn-label"><i class="fab fa-github-alt"></i></span>Project Examples</a>
                          </div>
                      </div>
                  </div>
                </div>   
    		</div>
		    <div class="col-sm-6 col-md-3">
        	    <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="../images/p_lang/CSS3_logo.svg" />
                       
                    </div>
                    <div class="panel-body text-center">
                        <h4 class="panel-header">CSS</h4>
                        <small>To be able to create beautiful layouts and make bueautiful 
                          and useful UI's. I developed and updated my skills in CSS to be able to 
                          create beautiful layouts and useful UIs. Have a look at my projects.  
                        </canvas>
                        </small>
                    </div>
                    <div class="panel-thumbnails">
                      <div class="column">
                          <div class="col-xs-12 text-center">
                            <a class="btn btn-success btn-labeled" href="https://github.com/cotoflux" role="button">
                              <span class="btn-label"><i class="fab fa-github-alt"></i></span>Project Examples</a>
                          </div>
                      </div>
                  </div>
            	</div>   
    		</div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="../images/p_lang/Javascript_logo.svg" />

                    </div>
                    <div class="panel-body text-center">
                        <h4 class="panel-header">JavaScript</h4>
                        <small>I have developed actions in websites and have learnt how to work with OOP
                           and this language. I used it with JQuery and Node.js.</small>
                    </div>
                    <div class="panel-thumbnails">
                      <div class="column">
                          <div class="col-xs-12 text-center">
                            <a class="btn btn-success btn-labeled" href="https://github.com/cotoflux" role="button">
                              <span class="btn-label"><i class="fab fa-github-alt"></i></span>Project Examples</a>
                          </div>
                      </div>
                  </div>
            	</div>   
    		</div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="../images/p_lang/php.png" />
                        
                    </div>
                    <div class="panel-body text-center">
                        <h4 class="panel-header">PHP</h4>
                        <small>I have been developing with OOP and testing in this language.I am familiar with PHPUnit and I feel confortable working with it. I did develop some small
                          programs to use with Composer in Packagist.org.
                        </small>
                    </div>
                    <div class="panel-thumbnails">
                      <div class="column">
                          <div class="col-xs-12 text-center">
                            <a class="btn btn-success btn-labeled" href="https://github.com/cotoflux" role="button">
                              <span class="btn-label"><i class="fab fa-github-alt"></i></span>Project Examples</a>
                          </div>
                      </div>
                  </div>
            	</div>   
    		</div>
	    </div>
    </div>
</section>
<section id="t-cards">
  <div class="container">
      <div class="row">
           <div class="col-sm-6 col-md-3">
              <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                      <img src="../images/p_lang/java.jpg" />
                      
                  </div>
                  <div class="panel-body text-center">
                      <h4 class="panel-header">Java</h4>
                      <small>I started learning the language at the same time I prepared for the certification of Oracle Programmer. I am now continuing my Java learning 
                        IT Academy to learn Spring and be able to make functional APIS in the web. 
                      </small>
                  </div>
                  <div class="panel-thumbnails">
                    <div class="column">
                        <div class="col-xs-12 text-center">
                          <a class="btn btn-success btn-labeled" href="https://github.com/cotoflux" role="button">
                            <span class="btn-label"><i class="fab fa-github-alt"></i></span>Project Examples</a>
                        </div>
                    </div>
                </div>
              </div>   
      </div>
      <div class="col-sm-6 col-md-3">
            <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                      <img src="../images/p_lang/python.png" />
                     
                  </div>
                  <div class="panel-body text-center">
                      <h4 class="panel-header">Python</h4>
                      <small>I love how flexible this language is. I started thanks to Django Girls who showed me the basics of the learning and developed a basic web in Python. Then 
                        when I did Bertelsmann in Udacity I continued with my learning in this language.
                      </canvas>
                      </small>
                  </div>
                  <div class="panel-thumbnails">
                    <div class="column">
                        <div class="col-xs-12 text-center">
                          <a class="btn btn-success btn-labeled" href="https://github.com/cotoflux" role="button">
                            <span class="btn-label"><i class="fab fa-github-alt"></i></span>Project Examples</a>
                        </div>
                    </div>
                </div>
            </div>   
      </div>
          <div class="col-sm-6 col-md-3">
              <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                      <img src="../images/p_lang/laravel.jpg" />

                  </div>
                  <div class="panel-body text-center">
                      <h4 class="panel-header">Laravel</h4>
                      <small>I learned Laravel in CEPIBASE and Factoria F5, then in Electry Project projects were developed in the language. </small>
                  </div>
                  <div class="panel-thumbnails">
                    <div class="column">
                        <div class="col-xs-12 text-center">
                          <a class="btn btn-success btn-labeled" href="https://github.com/cotoflux" role="button">
                            <span class="btn-label"><i class="fab fa-github-alt"></i></span>Project Examples</a>
                        </div>
                    </div>
                </div>
            </div>   
      </div>
          <div class="col-sm-6 col-md-3">
              <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                      <img src="../images/p_lang/spring.jpg" />
                      
                  </div>
                  <div class="panel-body text-center">
                      <h4 class="panel-header">Spring</h4>
                      <small>In IT Academy I started my first projects with this framework. I am now creating my frist API Rest with it. 
                      </small>
                  </div>
                  <div class="panel-thumbnails">
                    <div class="column">
                        <div class="col-xs-12 text-center">
                          <a class="btn btn-success btn-labeled" href="https://github.com/cotoflux" role="button">
                            <span class="btn-label"><i class="fab fa-github-alt"></i></span>Project Examples</a>
                        </div>
                    </div>
                </div>
            </div>   
      </div>
    </div>
  </div>
</section>
<br>
<br>
<footer>
  <div class="container footer">
    <br>
    <br>
    <div class="row">
      <br>
      <br>
      <i class="far fa-envelope">&nbsp; &nbsp; cotoflux@gmail.com</i>
      <br>
      <br>
      <i class="fas fa-phone">&nbsp; &nbsp; + 34 - 637316705</i>
      <br>
    </div>
    <div class="row">
      <form>
        <input class="button" type="button" value="Click to see my CV" onclick="openWin()">
      </form>
    </div>
    <br>
    <br>
  </div>
</footer>
  <br>
  <br>
</body>
</html>