<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hello, Je suis developeuse avec moins d'un an d'experiènce professionnelle mais plusieurs anées dans le Marketing."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/skills.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Nuria Puig Skills</title>
    <script src="https://kit.fontawesome.com/7c604236ad.js" crossorigin="anonymous"></script>

  <script>
      function openWin() {
        window.open("https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing","_blank","toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=550");
      }
  </script>
</head>
<body>   
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://www.linkedin.com/in/nuria-puig-riera/" target="_blank">Nuria Puig</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="../index.html"><i class="fas fa-home"></i> <span class="sr-only"> (current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./biography.html">Biography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./timeline_experience.html">Experience</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Languages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./pr.languages.html">Programing Languages</a>
            <a class="dropdown-item" href="./languages.html">Human Languages</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./skills.html">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./education.html">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./awards.html">Honors and awards</a>
          </li>           
          <li class="nav-item">
            <a class="nav-link" href="./gallery.html">Gallery</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing" target="_blank"><b><strong>my CV</strong></b></a>
          </li> 
      </ul>
    </div>
  </nav>
<header>
    <h1 class="container text-center startImage">Personal skills</h1>
</header>
<section>
  <br>
  <div class="container">
    <p aria-label="Be" class="text-center">
      <span data-text="I">I</span>
      <span data-text=" "></span>
      <span data-text="A">A</span>
      <span data-text="M">M</span>
    </p>
    <p aria-label="Resiliant" class="text-center">
      <span data-text="R">R</span>
      <span data-text="E">E</span>
      <span data-text="S">S</span>
      <span data-text="I">I</span>
      <span data-text="L">L</span>
      <span data-text="I">I</span>
      <span data-text="A">A</span>
      <span data-text="N">N</span>
      <span data-text="T">T</span>
    </p>
    <br>
  </div>
</section>

    <div class="row container myCards">
        <div class="card col-md-12 ">
          <br>
          <pre>
            <span class="code-line">{</span>
            <span class="code-line"><span class="code-space">  </span><span class="code-hidden">"</span><span class="code-key">Skills</span><span class="code-hidden">"</span>: {</span>
            <span class="code-line"><span class="code-space">    </span>"<span class="code-key-alt">translations</span>": "<span class="code-value">I am resiliant all along my carreer and life have been adapting with a smile to change. </span>",</span>
            <span class="code-line"><span class="code-space">    </span>"<span class="code-key-alt">phone</span>": "<span class="code-value">I am a comunicative peson and love to work in a team. </span>",</span>
            <span class="code-line"><span class="code-space">    </span>"<span class="code-key-alt">phone</span>": "<span class="code-value">I am self motivated, need no one to trak I am working. I enjoy what I do and spend my time on it. </span>",</span>
            <span class="code-line"><span class="code-space">    </span>"<span class="code-key-alt">phone</span>": "<span class="code-value">I am a self tought person. I am always learning something to develop my self. </span>",</span><span class="code-line"><span class="code-space">  </span>},</span>
            <span class="code-line"> </span>
            <span class="code-line">}</span>
          </pre>
        </div>
        <br>
        <div class="card col-md-12">
          <br>
          <pre>
            <span class="code-line">{</span>
            <span class="code-line"><span class="code-space">  </span><span class="code-hidden">"</span><span class="code-key">at work I  am</span><span class="code-hidden">"</span>: {</span>
            <span class="code-line"><span class="code-space">    </span>"<span class="code-key-alt">translations</span>": "<span class="code-value">I am problem solving kind a person.  </span>",</span>
            <span class="code-line"><span class="code-space">    </span>"<span class="code-key-alt">phone</span>": "<span class="code-value">Goals oriented.</span>",</span>
            <span class="code-line"><span class="code-space">    </span>"<span class="code-key-alt">phone</span>": "<span class="code-value">Have good interpesonal skills, I still keep today ex-coworkers and bosses that become friends </span>",</span>
            <span class="code-line"><span class="code-space">    </span>"<span class="code-key-alt">phone</span>": "<span class="code-value">Love to worke in Agile environement and with agile system.</span>",</span><span class="code-line"><span class="code-space">  </span>},</span>
 
          </pre>
        </div>
    </div>
<section>
<br>
  <div class="card col-md-10 myCards">
    <h1 onclick="this.innerHTML='Just contact me I will be more than glad to arrange a call with you. '">Do you want to know more?</h1>
  </div>
</section>
<br>
<br>
<footer>
  <div class="container footer">
    <br>
    <br>
    <div class="row">
      <br>
      <br>
      <i class="far fa-envelope">&nbsp; &nbsp; cotoflux@gmail.com</i>
      <br>
      <br>
      <i class="fas fa-phone">&nbsp; &nbsp; + 34 - 637316705</i>
      <br>
      <br>
    </div>
    <div class="row">
      <form>
        <input class="button" type="button" value="Click to see my CV" onclick="openWin()">
      </form>
    </div>
    <br>
    <br>
  </div>
</footer>
  <br>
  <br>
</body>
</html>