<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../styles/experiences.css">
  <script src="https://kit.fontawesome.com/7c604236ad.js" crossorigin="anonymous"></script>
  <title>Nuria Puig - Vertical Timeline</title>

  <script>
      function openWin() {
        window.open("https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing","_blank","toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=550, height=550");
      }
  </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://www.linkedin.com/in/nuria-puig-riera/" target="_blank">Nuria Puig</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="../index.html"><i class="fas fa-home"></i> <span class="sr-only"> (current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./biography.html">Biography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./timeline_experience.html">Experience</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Languages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./pr.languages.html">Programing Languages</a>
            <a class="dropdown-item" href="./languages.html">Human Languages</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/digitalMarketing.html">Digital Marketing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./skills.html">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./education.html">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./awards.html">Honors and awards</a>
          </li>           
          <li class="nav-item">
            <a class="nav-link" href="./gallery.html">Gallery</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/document/d/1xJ_H8kOF205PylXqjQhiDm8zOWo2p_CqPQk4Abte3Yc/edit?usp=sharing" target="_blank"><b><strong>my CV</strong></b></a>
          </li> 
      </ul>
    </div>
  </nav>
  <header>
    <div class="container text-center startImage">
     <h1>My professional timeline</h1>
    </div>
  </header>
   
   <section class="timeline">
    <div class="container">
   
     <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content">
        <br>
        <br>
       <h2>Marketing (Product Management and Direct Marketing)</h2>
       <div class="date">2001 -2005</div>
        <blockquote>I worked in several Marketing departments for 5 years.</blockquote>
        
       </div>
     </div>
   
     <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content">
        <br>
        <br>
        <h2>Company Owner</h2>
        <div class="date">2008-2015</div>
          <blockquote>During 8 years I managed my own company. I started with a small shop and ended with a year gross sales of 460,000 €.</blockquote>
          
      </div>
     </div>
   
     <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content">
        <br>
        <br>
        <h2>Digital Marketing: SEO, SEM and SMM</h2>
        <div class="date">2016 -2018</div>
        <blockquote>During three years I developed my skills managing several projects of SEO, SEM and SMM</blockquote>
        
      </div>
     </div>
   
     <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content">
        <br>
        <br>
       <h2>Consultant ERP and Maketing</h2>
       <div class="date">2018 -2019</div>
       <blockquote>I did the Sage X3 training and worked as a consutant as ERP and Maketing Consultant</blockquote>
  
      </div>
     </div>
   
     <div class="timeline-item">
      <div class="timeline-img"></div>
         <div class="timeline-content">
          <br>
          <br>
        <h2>Development and Digital Marketing</h2>
       <div class="date">2019 - right now</div>
       <p>I worked for a Digital Marketing Agency and for an Energy Company as Backend Engineer with PHP. I also collaborated with 
         several ONG projects. Some of the technologies I used are:  HTML, CSS, Javascript, PHP and Ajax. Now I am developing projects on Python, PHP and Java</p>
 
      </div>
     </div>
   </section>
   <br>
   <br>
   <footer>
     <div class="container footer">
       <br>
       <br>
       <div class="row">
         <br>
         <br>
         <i class="far fa-envelope">&nbsp; &nbsp; cotoflux@gmail.com</i>
         <br>
         <br>
         <i class="fas fa-phone">&nbsp; &nbsp; + 34 - 637316705</i>
         <br>
       </div>
       <div class="row">
         <form>
           <input class="button" type="button" value="Click to see my CV" onclick="openWin()">
         </form>
       </div>
       <br>
       <br>
     </div>
   </footer>
     <br>
     <br>
</body>
</html>