
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
#personal{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  size: 26px;
}

     /**Footer*/
     .row{
          flex-direction: row;
          justify-content: center;
      }
      #personal{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        size: 26px;
      }
      a:hover{
        font-weight: bold;
        
      }

      .border:hover{
        box-shadow: 0 15px 15px rgba(56, 98, 236, 0.25), 0 6px 6px rgba(0,0,0,0.30);

      }

      .titleTestimonials{
        height: 60px;
        background-color: lightgray;
      }

      i{
        padding: 1%;
        font-size: 20px;
      }
      footer{
        background-color: lightgray;
      }

      .button{
        width: 200px;
      }

      .button:hover{
        font-weight: bold;
        font-size: large;
        color: black;
        box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }

      .thumbnail:hover{
        box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }

      header {
        background-image: url("../images/galery/coto.jpg");
        color: white;
        padding: 50px 0;
        background-attachment: fixed;
        background-position: center;
      }
      
